@using Blazored.Modal

<h4>¿Estás segura/o de que quieres eliminar a {nombre}?</h4>
<br />
<button class="btn btn-danger" @onclick="@(() => DeleteUser(id))">Borrar</button>
<button class="btn" @onclick="Close" >Cancelar</button>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    //Parámetro del modal
    int id = 1;

    private async Task Close() => await BlazoredModal.CloseAsync();

    private async Task DeleteUser(int id)
    {
        //Petición
    } 
}

