@using grupo3.Models;

<EditForm Model="user">
    <div class="form-group">
        <label><b>Nombre: </b></label>
        <InputText type="text" @bind-Value="user.name" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label><b>Apellidos: </b></label>
        <InputText type="text" @bind-Value="user.surname" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label><b>Email: </b></label>
        <InputText type="email" @bind-Value="user.email" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label><b>Telefono: </b></label>
        <InputText type="text" @bind-Value="user.phone" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label><b>Contraseña: </b></label>
        <InputText type="password" @bind-Value="user.password" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label><b>Repetir Contraseña: </b></label>
        <InputText type="password" @bind-Value="user.ConfirmPassword" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <InputSelect @bind-Value=@user>
            <option value="@user.teacher">Profesor</option>
            <option value="@user.student">Alumno</option>
            <option value="@user.admin">Admin</option>
        </InputSelect>
    </div>
    <br />
    <button class="btn btn-success" @onclick="@(() => EditUser(user.id))"> Editar</button>
    <button class="btn" @onclick="Close">Cancelar</button>
</EditForm>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    [Parameter] public UserResponse user { get; set; }
    private async Task Close() => await BlazoredModal.CloseAsync();

    private async Task EditUser(int id){

    }
}
