@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row d-flex justify-content-between" style="background-color: #333; height: auto;">
            <div><NavMenu /></div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
