@inherits LayoutComponentBase
@inject NavigationManager UriHelper

<div class="page">
    <main>
        <div class="top-row d-flex justify-content-start" style="background-color: #333; height: auto;">
            <div style="width: 100%;" ><NavMenu /></div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
